<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Shopping List</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/shoppingListStyles.css" rel="stylesheet">
	<script src="js/shoppingListCode.js"></script>
	<script>
        // EVENT LiSTENER TO CALCULATE THE SUM OF THE VALUE OF
        // THE SELECTED ITEMS 
		window.addEventListener("load", function() {
        let calcBill = document.getElementById('calcBill')
        if(calcBill) {
          addEventListener("click",function(){
            document.forms[0].txtBillAmt.value = calculateBill('listTable');
            })
        }
    }); 
	</script>
</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="#">Shopping List</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5">Your Shopping List</h1>
				<p class="lead">Select your items from the list below.</p>
			</div>
			<div id="table" class="col-lg-8 text-center order-3">
            
				<h2><img src="./img/cart.jpg" alt="Shopping cart" width="90" height="100" />       Start Listing</h2>

					<table id="listTable" class="indent">
                        <thead>
						<tr>
							<th colspan="3">Shopping List</th>
						</tr>
						<tr>
							<th>Select</th>
							<th>Item</th>
							<th>Price</th>
						</tr>
						</thead>  
                        <tbody id="itemsData">
                        </tbody>                      
					</table>
					<p>
						<form>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">€</span>
								</div>
								<input type="text" class="form-control" name="txtBillAmt" aria-label=""Total>
                                <input class="btn btn-block btn-secondary" type="button" name="btnCalcBill" value="Total" id="calcBill">

                            </div>
						</form>
					</p>
				</form>
			</div>

			<div class="col-lg-4 text-center order-2">

				<h3>Add item to the list</h3>
				<form id="createItem">
					<div class="form-group">
						<select class="form-control" id="section" name="sec_n">
                <option value="Dairy">Dairy</option>
                <option value="Bakery">Bakery</option>
                <option value="PersonalHygene">Personal Hygene</option>
                <option value="Cleaning">Cleaning</option>
                <option value="FruitAndVegetables">Fruit and Vegetables</option>
            </select>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" id="itemname" name="item" placeholder="Item">
        </div>
						<div class="form-group">
							<input class="form-control" type="text" id="itemprice" name="price" placeholder="Price">
        </div>
							<button onclick="addItem()" class="btn btn-block btn-primary">Submit</button>
				</form>
				<br><br>
				<h3>Delete selected from list</h3>
				<button id="delete" onclick="delete_row()" class="btn btn-block btn-danger">Delete</button>
				<p class="text-muted">To delete an entree, select the item in the list</p>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">&copy; 2019</span>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="jquery/jquery.min.js"></script>
	<script src="js/shoppingListCode.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="jquery/table.js"></script>
</body>

</html>